@mixin breakpoint($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  $mq-media-query: 'screen and';
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  $mq-media-query: '#{$mq-media-query} (min-width: #{$mq-breakpoint})';
  @media #{$mq-media-query} {
    @content;
  }
}
